@font-face {
  font-family: "Arguedemo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Arguedemo.woff") format("woff"), url("../fonts/Arguedemo.woff2") format("woff2"), url("../fonts/Arguedemo.eot") format("embedded-opentype"), url("../fonts/Arguedemo.ttf") format("truetype");
}
@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NexaRegular.woff") format("woff"), url("../fonts/NexaRegular.woff2") format("woff2"), url("../fonts/NexaRegular.eot") format("embedded-opentype"), url("../fonts/NexaRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nexa-Bold.woff") format("woff"), url("../fonts/Nexa-Bold.woff2") format("woff2"), url("../fonts/Nexa-Bold.eot") format("embedded-opentype"), url("../fonts/Nexa-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Nexa-XBold.woff") format("woff"), url("../fonts/Nexa-XBold.woff2") format("woff2"), url("../fonts/Nexa-XBold.eot") format("embedded-opentype"), url("../fonts/Nexa-XBold.ttf") format("truetype");
}
.promo {
  position: relative;
}
.promo__head {
  display: flex;
  align-items: flex-end;
  max-width: 960px;
  margin: 0 auto;
}
.promo__title {
  margin: 75px 0 0 0;
  font-family: "Arguedemo";
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  color: #1A1D30;
}
.promo__link {
  width: 100%;
  max-width: 190px;
  max-height: 110px;
}
.promo__link-img {
  width: 100%;
  object-fit: cover;
}
.promo__middle {
  display: flex;
  align-items: flex-start;
}
.promo__img {
  width: 100%;
  max-width: 560px;
}
.promo__img_left {
  margin-top: -20px;
}
.promo__img_right {
  margin-left: auto;
}
.promo__button {
  margin-top: 120px;
  margin-right: 30px;
}
.promo__button:last-child {
  margin-right: 0;
}
.promo__footer {
  display: flex;
  align-items: flex-end;
  margin-top: -350px;
}

.round {
  border-radius: 50%;
  position: absolute;
}
.round_blue {
  width: 11px;
  height: 11px;
  top: 300px;
  left: 46px;
  background-color: #87A0E2;
}
.round_purple {
  width: 17px;
  height: 17px;
  top: 211px;
  left: 114px;
  background-color: #BA7AD2;
}
.round_orange {
  width: 31px;
  height: 31px;
  top: 183px;
  right: 68px;
  background-color: transparent;
  border: 3px solid #F6BA7C;
}

.stats {
  position: absolute;
  width: 52%;
  left: 0;
  background-color: #1A1D30;
  border-radius: 0 6px 6px 0;
}
.stats__wrap {
  display: flex;
  width: 100%;
  max-width: 700px;
  padding: 35px 90px 35px 5px;
  margin-left: auto;
}
.stats__col {
  width: 50%;
}
.stats__col_left {
  padding: 35px 90px 35px 0;
  border-right: 1px solid grey;
}
.stats__col_right {
  padding: 35px 0 35px 90px;
}
.stats__number {
  margin-bottom: 7px;
  font-family: "Arguedemo";
  font-weight: 400;
  font-size: 90px;
  line-height: 99px;
  color: #ffffff;
}
.stats__text {
  font-family: "Nexa";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #CCCCCC;
}

.business {
  background-color: #E5EBFF;
  padding-top: 205px;
}
.business__container {
  display: flex;
  justify-content: space-between;
}
.business__col_left .title-h2 {
  max-width: 535px;
  margin-bottom: 40px;
}
.business__col_left .text-p {
  max-width: 495px;
  margin-bottom: 285px;
}
.business__col_right .block {
  border-top: 1px solid #000000;
  box-sizing: border-box;
  padding: 32px 0 54px 0;
  display: flex;
  width: 650px;
  margin-right: 120px;
}
.business__col_right .block__head {
  display: flex;
}
.business__col_right .block__label {
  font-family: "Arguedemo";
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: #F65606;
  margin-right: 45px;
}
.business__col_right .block__title {
  margin: 0;
  font-family: "Arguedemo";
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: #1A1D30;
  margin-bottom: 55px;
  max-width: 210px;
}
.business__col_right .block__text {
  font-family: "Nexa";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-left: 90px;
}
.business__col_right .block__link {
  border-radius: 50%;
  padding: 18px 17px 17px 18px;
  background-color: #F65606;
  margin-top: 150px;
  margin-left: auto;
}
.business__col_right .block__link_svg:hover {
  transition: 1.5s;
  transform: rotate(360deg);
}
.business__col_right .block_two .block__label {
  color: #BF6FE1;
}
.business__col_right .block_two .block__link {
  background-color: #BF6FE1;
}
.business__col_right .block_two .block__title {
  max-width: 315px;
}
.business__col_right .block_three .block__label {
  color: #1A1D30;
}
.business__col_right .block_three .block__link {
  background-color: #1A1D30;
}
.business__col_right .block_three .block__title {
  max-width: 350px;
}
.business__box {
  position: absolute;
  width: 40%;
  left: 0;
  background-color: #FFDF53;
  border-radius: 0 6px 6px 0;
  height: 360px;
  z-index: 1;
}
.business__img {
  position: relative;
  top: -163px;
  z-index: 2;
}
.business__text {
  max-width: 185px;
  font-family: "Nexa";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  position: absolute;
  margin-left: 350px;
  margin-top: -105px;
}

.design {
  padding-top: 170px;
  padding-bottom: 170px;
}
.design .title-h2 {
  margin: 0 auto;
  max-width: 1150px;
  margin-bottom: 65px;
}
.design__container {
  display: flex;
  justify-content: space-between;
}
.design__container_flex {
  display: flex;
  justify-content: space-between;
}
.design__head {
  margin-top: 65px;
}
.design__head .text-p {
  font-size: 20px;
  line-height: 24px;
  max-width: 460px;
  margin-bottom: 50px;
}
.design__label {
  font-family: "Arguedemo";
  font-weight: 400;
  font-size: 180px;
  line-height: 198px;
  color: #1A1D30;
  margin-right: 55px;
  margin-top: 68px;
}
.design__foot {
  margin-right: 25px;
  margin-top: 96px;
}
.design__foot_title {
  font-family: "Arguedemo";
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: #1A1D30;
  margin-bottom: 20px;
}
.design__foot .text-p {
  max-width: 555px;
}
.design__png {
  margin-top: -75px;
}

body {
  background-color: #EEF1FB;
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.button {
  padding: 20px 45px;
  border-radius: 6px;
  font-family: "Nexa";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.button_transparent {
  border: 1px solid #1A1D30;
  background-color: transparent;
  color: #1A1D30;
}
.button_transparent:hover {
  transition: all 0.4s;
  background-color: #1A1D30;
  color: #ffffff;
}
.button_orange {
  border: 1px solid #F65606;
  background-color: #F65606;
  color: #ffffff;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.title-h2 {
  font-family: "Arguedemo";
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  color: #1A1D30;
}

.text-p {
  font-family: "Nexa";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 24px 0 29px 17px;
  border-bottom: 1px solid #DEE1E9;
}

.logo {
  font-family: "Arguedemo";
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: #1A1D30;
}
.logo__letter {
  text-shadow: 1px 1px 1px #1A1D30;
  color: #F65606;
}

.menu {
  display: flex;
  margin-left: auto;
}
.menu__item {
  margin-right: 80px;
  font-family: "Nexa";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

/*# sourceMappingURL=common.css.map */
