@import "fonts";
@import "variables";

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.button {
  padding: 20px 45px;
  border-radius: 6px;
  font-family: 'Nexa';
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  &_transparent {
    border: 1px solid $second-color;
    background-color: transparent;
    color: $second-color;
  }

  &_orange {
    border: 1px solid $third-color;
    background-color: $third-color;
    color: $light-color;
  }
}

a {
  text-decoration: none;
}

//HEADER
.header {

  &__container {
    display: flex;
    align-items: center;
    padding: 24px 0 29px 17px;
    border-bottom: 1px solid #DEE1E9;;
  }
}

.logo {
  font-family: "Arguedemo";
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: $second-color;

  &__letter {
    text-shadow: 1px 1px 1px $second-color;
    color: $third-color;
  }
}

.menu {
  display: flex;
  margin-left: auto;

  &__item {
    margin-right: 80px;
    font-family: "Nexa";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $dark-color;
  }
}